<footer class="footer" style="background-color: #D8BFD8 !important; border-top: 1px solid #B088B0;">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted" style="color: #000000 !important;">
        &copy; {{ test | date: "yyyy" }} <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="font-weight-bold ml-1" target="_blank" style="color: #F8C8DC !important;">Creative Tim</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank" style="color: #F8C8DC !important;">Creative Tim</a>
        </li>
        <li class="nav-item">
          <a href="https://www.creative-tim.com/presentation?ref=ada-footer-admin-layout" class="nav-link" target="_blank" style="color: #F8C8DC !important;">About Us</a>
        </li>
        <li class="nav-item">
          <a href="http://blog.creative-tim.com?ref=ada-footer-admin-layout" class="nav-link" target="_blank" style="color: #F8C8DC !important;">Blog</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md" class="nav-link" target="_blank" style="color: #F8C8DC !important;">MIT License</a>
        </li>
      </ul>
    </div>
  </div>
</footer>